.counter-app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .counter-app {
    flex-direction: row;
    justify-content: center;
  }
}

